# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=numero_porta
DB_NAME=nome_do_seu_banco
DB_USER=seu_usuario
DB_PASSWORD=sua_senha

# Configuração de Segurança (JWT)
JWT_SECRET=sua_chave_secreta_com_pelo_menos_32_caracteres
